* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
}

.row {
  margin: 0 40px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/* Border line */
.border-min {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  width: 60px;
  margin: 0 auto;
}

.wrapper .header .heading {
  font-weight: bold;
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin: 84px 0 26px 0;
}

.wrapper .header .description {
  padding: 50px 0;
  text-align: center;
}

.wrapper .section-article-body {
  margin-bottom: 50px;
}

.wrapper .section-article .description-article {
  font-size: 16px;
  margin: 20px 0px 20px 0px;
}

.wrapper .section-article .title-article h2 {
  font-size: 33px;
  font-family: "Bebas Neue", cursive;
}

.wrapper .section-article .title-article:not(.font-bg) h2 {
  font-size: 25px;
}

@media (min-width: 320px) and (max-width: 580px) {
  .row {
    margin: 0 15px;
  }
}
